security {
    zones{
    {% for rule in fw_rules %}
        {% for zone in rule.src.zone %}
        security-zone {{ zone}} {
            address-book {
                {% for address in rule.src.addresses %}
                address {{ address.name }} {{ address.ipv4 }}/32;
                {% endfor %}
            }
        }
        {% endfor %}
        {% for zone in rule.src.zone %}
        security-zone {{ zone}} {
            address-book {
                {% for address in rule.dest.addresses %}
                address {{ address.name }} {{ address.ipv4 }}/32;
                {% endfor %}
            }
        }
        {% endfor %}
    {% endfor %}
    }
}