{% for rule in asa_fw_rules %}
  {% for src in rule.src.addresses %}
    {% for dest in rule.dest.addresses %}
      {% for service in rule.services %}
access-list {{rule.name}} extended {{rule.rule.action}} {{rule.protocol}} host {{src.ipv4}} host {{dest.ipv4}} eq {{service}}
      {% endfor %}
    {% endfor %}
  {% endfor %}
access-group {{rule.name}} {{rule.inout}} interface {{rule.interface}}
{% endfor %}